[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-enumchoicefield = "*"
django-allauth = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
psycopg2 = "*"
gunicorn = "*"
dj-database-url = "*"
install = "*"
django-userforeignkey = "*"
drf-yasg = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
